INICRO_USER=user
INICRO_PASSWORD=password
BASE_URL="http://localhost:4000"

ROLLBAR_ACCESS_TOKEN=access_token
ROLLBAR_POST_CLIENT_ITEM_TOKEN=client_token

SIDEKIQ_USERNAME=sidekiq
SIDEKIQ_PASSWORD=password

GOOGLE_OAUTH_CLIENT_ID=client_id
GOOGLE_OAUTH_CLIENT_SECRET=client_secret

BASE_MAIL_SENDER="chrisandrewmuchiri@gmail.com"
JWT_SECRET_KEY=jwt_secret_key
